<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ settings.store.name }}</title>
	{{ 'normalize.css' | resource_url | stylesheet_tag  }}
	{{ 'app.css' | resource_url | stylesheet_tag  }}

	{{ 'v1' | api_url | script_tag }}
    <script src="{{'lib/foundation5/' | global_url }}js/vendor/custom.modernizr.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.topbar.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.orbit.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.dropdown.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.accordion.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.tab.js"></script>

	{{ 'app.js' | resource_url | script_tag }}

    {% if settings.store.name == "ksfoundation" %}
    <!--
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.abide.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.accordion.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.alert.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.clearing.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.dropdown.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.interchange.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.joyride.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.magellan.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.offcanvas.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.orbit.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.reveal.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.tab.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.tooltip.js"></script>
    <script src="{{'lib/foundation5/' | global_url }}js/foundation/foundation.topbar.js"></script>
    -->
    {% endif %}
</head>

<body>
    <div class="row">
        <div class="large-2 columns">
            <a class="hide-for-medium-down brand"  href="{{ "/" | home_url }}">
            {% if theme.header_store_logo %}
                <img src="{{ theme.header_store_logo | resource_url }}" />
            {% else %}
                <span>{{ settings.store.name }}</span>
            {% endif %}
            </a>
        </div>
    </div>
	<div class="row">
        <div class="large-12 columns">
            <!-- Navigation -->
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="name">
                  <!-- Leave this empty -->
                </li>
              </ul>
              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li class="has-dropdown">
                    <ul class="dropdown">
                      <li><a href="#">First link in dropdown</a></li>
                    </ul>
                  </li>
                  <li class="has-form">
                    <div class="row collapse">
                      <div class="large-8 small-9 columns">
                        <input type="text" placeholder="Find Stuff">
                      </div>
                      <div class="large-4 small-3 columns">
                        <a href="#" class="alert button expand">Search</a>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- Left Nav Section -->
                <ul class="left">
                  {% for link in menu.main-menu.links %}
                      <li class="{% if link.active %}active{% endif %} {% if link.links %}has-dropdown{% endif %}">
                          <a href="{{ link.href }}">{{ link.name }}</a>
                          {% if link.links %}
                          <ul class="dropdown">
                              {% for sublink in link.links %}
                                  <li {% if sublink.active %}class="active"{% endif %}>
                                      <a href="{{ sublink.href }}">{{ sublink.name }}</a>
                                  </li>
                              {% endfor %}
                          </ul>
                          {% endif %}
                      </li>
                  {% endfor %}
                </ul>
              </section>
            </nav>
            <!-- End Navigation -->
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            {% if settings.store.name == "ksfoundation" %}
            <hr>
        	<h3>Hero carousel (wide)</h3>
        	<div class="panel callout radius">
        		<p>Wide hero carousel for promoting your products or collections</p>
        	</div>
            {% endif %}
    <!-- Desktop Slider -->

          	<div class="hide-for-small">
                <div class="preloader"></div>
           		<ul data-orbit>
                    {% for item in collections.featured.list %}
                        <li>
                            <a href="{{ item | product_url }}">
                                <img src="{{ item.images.first }}?width=970&height=390&fill=1&align=center">
                                <div class="orbit-caption">
                                    <span class="name">{{ item.body-text }}</span>
                                    <span class="price right">{{ item.price | money:0 }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
    	        </ul>

            </div>
    <!-- End Desktop Slider -->


    <!-- Mobile Header -->


            <div class="row">
              <div class="small-12 show-for-small"><br>
                <img src="http://placehold.it/1000x600&text=For Small Screens" />
              </div>
            </div>


  <!-- End Mobile Header -->

        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if settings.store.name == "ksfoundation" %}
            <hr />
            <h3>Hero carousel (narrow)</h3>
            <div class="panel callout radius">
                <p>Narrow hero carousel with side controls</p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="slider-secondary-bg">
    <div class="row">
        <div class="large-8 columns">
            <ul data-orbit data-options="bullets: false; timer: false">
                {% for item in collections.featured.list  limit:4 %}
                    <li data-orbit-slide="slide-{{ forloop.index }}">
                        <a href="{{ item | product_url }}">
                            <img src="{{ item.images.first }}?height=290&fill=1&align=center">
                            <div class="orbit-caption">
                                <span class="name">{{ item.body-text }}</span>
                                <span class="price right">{{ item.price | money:0 }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="large-4 columns">
            <ul class="side-nav slider-nav">
                {% for item in collections.featured.list limit:4 %}
                <li>
                    <a href="#" data-orbit-link="slide-{{ forloop.index }}">
                        <span class="thumb"><img src="{{ item.images.first }}?height=40&fill=1&align=center" /></span>
                        {{ item.name }}<br />
                        <span class="price">{{ item.price | money:0 }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if settings.store.name == "ksfoundation" %}
            <hr />
        	<h3>Featured products (wide)</h3>
        	<div class="panel callout radius">
        		<p>The featured products panel is a great way to let your customers know what products you're currently promoting.  You can use it to feature products on sale, currently in season, newly back in stock, or just products you'd like to sell more of.</p>
        	</div>
            {% endif %}

        <!-- Thumbnails -->

            <ul class="large-block-grid-4 small-block-grid-2 product-listing">
                {% for item in collections.featured.list limit:4 %}
                    <li>
                        <form action="/cart/add" method="POST">
                        <a class="thumbnail {% if item.variant.0.on_sale == 1 %}promo{% endif %}" href="/product/{{ item.id }}">
                            <span ><img src="{{ item.images.first }}?width=220"></span>
                            <strong class="name">{{ item.name }}</strong>
                            <div class="row">
                                <div class="large-12 columns text-center">
                                    {{ item.price | money:0 }}
                                </div>
                            </div>
                        </a>
                        </form>
                    </li>
                {% endfor %}
            </ul>

        <!-- End Thumbnails -->

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-8 columns">
                    {% if settings.store.name == "ksfoundation" %}
                    <h3>Featured products (narrow)</h3>
                    <div class="panel callout radius">
                        <p>Right, genious - it's not wide!</p>
                    </div>
                    {% endif %}

                    <ul class="large-block-grid-3 small-block-grid-2 product-listing">
                        {% for item in collections.featured.list %}
                        <li>
                            <form action="/cart/add" method="POST">
                            <a class="thumbnail {% if item.variant.0.on_sale == 1 %}promo{% endif %}" href="/product/{{ item.id }}">
                                <span ><img src="{{ item.images.first }}?width=220"></span>
                                <strong class="name">{{ item.name }}</strong>
                                <div class="row">
                                    <div class="large-12 columns text-center">
                                        {{ item.price | money:0 }}
                                    </div>
                                </div>
                            </a>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="large-4 small-12 columns">
                    {% if settings.store.name == "ksfoundation" %}
                    <h3>Sidenav</h3>
                    <div class="panel callout radius">
                        <p>Sexy accordion nav</p>
                    </div>
                    {% endif %}
                    <dl class="accordion" data-accordion>
                        <dd>
                            <a href="#panel1">Category 1</a>
                            <div id="panel1" class="content">
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <a href="#panel2">Category 2</a>
                            <div id="panel2" class="content">
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <a href="#panel3">Category 3</a>
                            <div id="panel3" class="content">
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <a href="#panel4">Category 4</a>
                            <div id="panel4" class="content">
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <a href="#panel5">Category 5</a>
                            <div id="panel5" class="content">
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Lorem ipsum</a></li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
	    <div class="large-12 columns">
	    	{% if settings.store.name == "ksfoundation" %}
            <hr />
            <h3>Pricing tables</h3>
	    	<div class="panel callout radius">
	    		<p>If you're making a rockin' marketing site for a subscription-based product, you are likely in need of a pricing table</p>
	    	</div>
	    	{% endif %}
		    <div class="row">

		    <!-- Pricing tables -->

		        <div class="large-4 small-12 columns">
		    		<ul class="pricing-table">
		    		  	<li class="title">Standard</li>
		    		  	<li class="price">$99.99</li>
		    		  	<li class="description">An awesome description</li>
		    		  	<li class="bullet-item">1 Database</li>
		    		  	<li class="bullet-item">5GB Storage</li>
		    		  	<li class="bullet-item">20 Users</li>
		    		  	<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		    		</ul>
		        </div>
		        <div class="large-4 small-12 columns">
		    		<ul class="pricing-table">
		    		  	<li class="title">Standard</li>
		    		  	<li class="price">$99.99</li>
		    		  	<li class="description">An awesome description</li>
		    		  	<li class="bullet-item">1 Database</li>
		    		  	<li class="bullet-item">5GB Storage</li>
		    		  	<li class="bullet-item">20 Users</li>
		    		  	<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		    		</ul>
		        </div>
		        <div class="large-4 small-12 columns">
		    		<ul class="pricing-table">
		    		  	<li class="title">Standard</li>
		    		  	<li class="price">$99.99</li>
		    		  	<li class="description">An awesome description</li>
		    		  	<li class="bullet-item">1 Database</li>
		    		  	<li class="bullet-item">5GB Storage</li>
		    		  	<li class="bullet-item">20 Users</li>
		    		  	<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		    		</ul>
		        </div>


		    <!-- End Pricing tables -->

		     </div>
	    </div>
 	</div>

    <!-- Footer -->
    <footer class="row">
        <div class="large-12 columns">
            <hr>
            <div class="row">
                <div class="large-6 columns">
                  <p>&copy; Copyright here. Lorem ipsum there.</p>
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).foundation();
    </script>
</body>
</html>
