<div class="row">
	<div class="large-12 columns	">
		<hr>
		<h1>{{ collection.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="large-9 small-12 columns">
		<ul class="large-block-grid-3 small-block-grid-2 product-listing">
		    {% for item in collections.featured.list %}
		    <li>
		        <form action="/cart/add" method="POST">
		        <a class="thumbnail {% if item.variant.0.on_sale == 1 %}promo{% endif %}" href="/product/{{ item.id }}">
		            <span ><img src="{{ item.images.first }}?width=220"></span>
		            <strong class="name">{{ item.name }}</strong>
		            <div class="row">
		                <div class="large-12 columns text-center">
		                    {{ item.price | money:0 }}
		                </div>
		            </div>
		        </a>
		        </form>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	<div class="large-3 small-12 columns">

	    <dl class="accordion" data-accordion>
	        <dd>
	            <a href="#panel1">Category 1</a>
	            <div id="panel1" class="content">
	                <ul class="side-nav">
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                </ul>
	            </div>
	        </dd>
	        <dd>
	            <a href="#panel2">Category 2</a>
	            <div id="panel2" class="content">
	                <ul class="side-nav">
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                </ul>
	            </div>
	        </dd>
	        <dd>
	            <a href="#panel3">Category 3</a>
	            <div id="panel3" class="content">
	                <ul class="side-nav">
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                </ul>
	            </div>
	        </dd>
	        <dd>
	            <a href="#panel4">Category 4</a>
	            <div id="panel4" class="content">
	                <ul class="side-nav">
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                </ul>
	            </div>
	        </dd>
	        <dd>
	            <a href="#panel5">Category 5</a>
	            <div id="panel5" class="content">
	                <ul class="side-nav">
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                    <li><a href="#">Lorem ipsum</a></li>
	                </ul>
	            </div>
	        </dd>
	    </dl>
	</div>

</div>
