{% assign image_thumb_size = "80" %}

<div class="row">
	<div class="span12">
		<h1>Shopping cart</h1>

		{% case url_params.error_code %}
			{% when 13 %}
				<div class="alert alert-error">
					<strong>Error:</strong> The product is out of stock.
				</div>
			{% when 14 %}
				<div class="alert alert-error">
					<strong>Error:</strong> Invalid quantity.
				</div>
		{% endcase %}

		{% if cart.count > 0 %}
			<table class="condensed-table cart-table">
				<thead>
					<tr>
						<th class="image">&nbsp;</th>
						<th class="product">Product</th>
						<th class="price">Price</th>
						<th class="quantity">Quantity</th>
						<th class="total">Total</th>
					</tr>
				</thead>
				<tbody>
					{% for item in cart.items %}
					<tr>
						<td class="image">
							<a href="{{ item | product_url }}"><img width="{{ image_thumb_size }}" height="{{ image_thumb_size }}" src="{{ item.images.first }}?width={{ image_thumb_size }}&height={{ image_thumb_size }}&fill=1&align=center" alt="{{ item.name }}" border="0" /></a>
						</td>
						<td class="name">
							<h5><a href="{{ item | product_url }}">{{ item.name | trim_words: 50 }}</a></h5>
							<p>
								{{ item.body-text | trim_words: 50 }}
							</p>
							<span>
								<a href="/cart/remove?pid={{ item.id }}">Remove from cart</a>
							</span>
						</td>
						<td class="price">{{ item.price | money }}</td>
						<td class="quantity">
							<form action="/cart/update" method="POST">
								<input type="hidden" name="variant" value="0">
								<input type="hidden" name="pid" value="{{ item.id }}">
								<input class="quantity" type="text" value="{{ item.quantity }}" name="quantity" />
								<input type="submit" class="btn" value="Update" />
							</form>
						</td>
						<td class="total">{{ item.price | multiply : item.quantity | money }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td class="subtotal" colspan="5">
							Subtotal: <span>{{ cart.total | money }}</span>
						</td>
					</tr>
				</tfoot>
			</table>

			<form class="form-stacked" action="/checkout" method="POST">
				<p class="pull-right">
					<input type="submit" class="btn btn-primary" value="Checkout &rarr;" />
				</p>
			</form>
		{% else %}
			<p>There are currently no products in your shopping cart.</p>
		{% endif %}
	</div>
</div>
