<div class="row">
	<div class="large-6 columns">
		<div class="image">
			<img src="{{ product.images.first }}?width=460&height=460&align=center" alt="{{ product.name }}" />
		</div>

		{% assign product_image_count = product.image | size %}
		{% if product_image_count > 1 %}
			<div class="product-images">
				<h5>Other images</h5>

				<div class="row-fluid">
					{% for image in product.image limit : 4 %}
						<div class="span3">
							<a href="javascript:;"><img src="{{ image.src }}?width={{ image_thumb_size }}&height={{ image_thumb_size }}&fill=1&align=center" /></a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

	</div>
	<div class="large-6 columns">
		<form action="/cart/add" method="POST">
			<h2>{{ product.name }}</h2>

			<p>{{ product.body-html }}</p>

			{% if product.variants.count > 1 %}
				<p>
					<select name="variant">
					{% for variant in product.variant %}
						{% if variant.available %}
							<option value="{{ variant.position }}">{{ variant.title }} for {{ variant.price | money }} </option>
						{% else %}
							<option value="{{ variant.position }}" disabled>{{ variant.title }} - Sold Out!</option>
						{% endif %}
					{% endfor %}
					</select>

					<p class="price">{{ product.price | money }}</p>
				</p>
			{% else %}
				<p class="price">
					{% if product.stock %}
						{{ product.price | money }}
					{% else %}
						Sold Out!
					{% endif %}
				</p>
			{% endif %}

			<input type="hidden" name="pid" value="{{ product.id }}">
			<input type="hidden" name="quantity" value="1">
			<input type="submit" class="btn btn-primary" value="Add to cart" {% if product.stock <= 0 %}disabled{% endif %} >
		</form>
	</div>
</div>
<div class="row hide-for-small">
    <div class="large-12 columns">
    	{% if settings.store.name == "thehen" %}
    	<hr />
    	<h3>Other products</h3>
    	<div class="infopanel">
    		<p>The other products panel is a great way to let your customers know what products you're currently promoting.  You can use it to feature products on sale, currently in season, newly back in stock, or just products you'd like to sell more of.</p>
    	</div>
    	{% endif %}	

    <!-- Thumbnails -->
		<ul class="large-block-grid-4 small-block-grid-2 product-listing">
		    {% for item in collections.featured.list limit:4 %}
		        <li>
		            <a href="{{ item | product_url }}" class="thumbnail">
		                <img src="{{ item.images.first }}?height=220&fill=1&align=center">
		                <strong>{{ item.name }}</strong>
		            </a>
		        </li>
		    {% endfor %}
		</ul>
        
    <!-- End Thumbnails -->

    </div>
</div>
<script type="text/javascript">
	if (window.jQuery && window.kloudstores)
	{
		// Custom callback function fired when a user changes the product options
		function product_option_callback(api_object, available, selected_variant)
		{
			if (available)
			{
				// enable the add to cart button
				$('[type=submit]').removeAttr('disabled');

				// update the price with two decimals
				$('p.price').html(api_object.tools.money(selected_variant.price, 2));
			}
			else
			{
				// disable the add to cart button
				$('[type=submit]').attr('disabled', 'disabled');

				// show that the product is unavailable
				$('p.price').html('Sold Out Dude!');
			}
		}

		$(document).ready(function(){
			var k = new kloudstores({{ settings.store | json }});
			k.decorator.optionSelectors($('[name=variant]'), {{ product | json }}, product_option_callback);
		});
	}
</script>
