<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>{{ settings.store.name }}</title>
	{{ 'normalize.css' | resource_url | stylesheet_tag  }}
	{{ 'app.css' | resource_url | stylesheet_tag  }}
	
	{{ 'v1' | api_url | script_tag }}
	
	<script src="{{'lib/foundation/' | global_url }}js/vendor/custom.modernizr.js"></script>

	<script src="{{'lib/foundation/' | global_url }}js/vendor/zepto.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/vendor/jquery.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.js"></script>
	<!--
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.alerts.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.clearing.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.cookie.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.dropdown.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.forms.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.joyride.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.magellan.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.orbit.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.placeholder.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.reveal.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.section.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.tooltips.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.topbar.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.interchange.js"></script>
	
	-->
	
	<script>
	  $(document).foundation();
	</script>
	{{ 'app.js' | resource_url | script_tag }}
</head>

<body>
	
</body>
</html>
