<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>{{ settings.store.name }}</title>
	{{ 'normalize.css' | resource_url | stylesheet_tag  }}
	{{ 'app.css' | resource_url | stylesheet_tag  }}
	
	{{ 'v1' | api_url | script_tag }}
	
	<script src="{{'lib/foundation/' | global_url }}js/vendor/custom.modernizr.js"></script>

	<script src="{{'lib/foundation/' | global_url }}js/vendor/zepto.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/vendor/jquery.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.orbit.js"></script>
    <script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.topbar.js"></script>
    <script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.section.js"></script>
	{{ 'app.js' | resource_url | script_tag }}
	<!--
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.alerts.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.clearing.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.cookie.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.dropdown.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.forms.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.joyride.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.magellan.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.orbit.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.placeholder.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.reveal.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.section.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.tooltips.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.topbar.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.interchange.js"></script>
	
	-->
</head>

<body>
	<div class="row">
        <div class="large-12 columns">  

    <!-- Navigation -->
            <nav class="top-bar">
                <ul class="title-area">
                  <!-- Title Area -->
                  <li class="name">
                    <h1>
                      <a href="#">
                        {{ settings.store.name }}
                      </a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <ul class="left">
                        {% for link in menu.main-menu.links %}
                            <li class="{% if link.active %}active{% endif %} {% if link.links %}has-dropdown{% endif %}">
                                <a href="{{ link.href }}">{{ link.name }}</a>
                                {% if link.links %}
                                <ul class="dropdown">
                                    {% for sublink in link.links %}
                                        <li {% if sublink.active %}class="active"{% endif %}>
                                            <a href="{{ sublink.href }}">{{ sublink.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="right search-form hide-for-small hide-for-medium">
                        <div class="row collapse">
                        <form>
                            <div class="large-9 small-8 columns"><input type="search"></div>
                            <div class="large-3 small-4 columns"><a class="small button prefix" href="#">Search</a></div>
                        </form>
                        </div>
                    </div>
                </section>
            </nav>

    <!-- End Navigation -->
  
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
        	{{ content }}
        </div>
    </div>
    

    <!-- Footer -->
    <footer class="row">
        <div class="large-12 columns">
            <hr>
            <div class="row">
                <div class="large-6 columns">
                  <p>&copy; Copyright here. Lorem ipsum there.</p>
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).foundation();
    </script>
</body>
</html>
