<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>{{ settings.store.name }}</title>
	{{ 'normalize.css' | resource_url | stylesheet_tag  }}
	{{ 'app.css' | resource_url | stylesheet_tag  }}
	
	{{ 'v1' | api_url | script_tag }}
	
	<script src="{{'lib/foundation/' | global_url }}js/vendor/custom.modernizr.js"></script>

	<script src="{{'lib/foundation/' | global_url }}js/vendor/zepto.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/vendor/jquery.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.js"></script>
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.orbit.js"></script>
    <script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.topbar.js"></script>
    <script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.section.js"></script>
	{{ 'app.js' | resource_url | script_tag }}
	
    {% if settings.store.name == "thehen" %}
    <!--
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.alerts.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.clearing.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.cookie.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.dropdown.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.forms.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.joyride.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.magellan.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.orbit.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.placeholder.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.reveal.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.section.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.tooltips.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.topbar.js"></script>
	
	<script src="{{'lib/foundation/' | global_url }}js/foundation/foundation.interchange.js"></script>
	
	-->
    {% endif %}
</head>

<body>
    <div class="row">
        <div class="large-2 columns">
            <a class="hide-for-medium-down brand"  href="{{ "/" | home_url }}">
            {% if theme.header_store_logo %}
                <img src="{{ theme.header_store_logo | resource_url }}" />
            {% else %}
                <span>{{ settings.store.name }}</span>
            {% endif %}
            </a>
        </div>
    </div>
	<div class="row">
        <div class="large-12 columns">  

    <!-- Navigation -->
            <nav class="top-bar">
                <ul class="title-area">
                  <!-- Title Area -->
                  <li class="name">
                    <h1>
                        <a class="show-for-medium-down"  href="{{ "/" | home_url }}">
                            <span>{{ settings.store.name }}</span>
                        </a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <ul class="left">
                        {% for link in menu.main-menu.links %}
                            <li class="{% if link.active %}active{% endif %} {% if link.links %}has-dropdown{% endif %}">
                                <a href="{{ link.href }}">{{ link.name }}</a>
                                {% if link.links %}
                                <ul class="dropdown">
                                    {% for sublink in link.links %}
                                        <li {% if sublink.active %}class="active"{% endif %}>
                                            <a href="{{ sublink.href }}">{{ sublink.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="right search-form show-for-medium-up">
                        <div class="row collapse">
                        <form>
                            <div class="large-9 small-8 columns"><input type="search"></div>
                            <div class="large-3 small-4 columns"><a class="small button prefix" href="#">Search</a></div>
                        </form>
                        </div>
                    </div>
                </section>
            </nav>

    <!-- End Navigation -->
  
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            {% if settings.store.name == "thehen" %}
        	<h3>Hero carousel (wide)</h3>
        	<div class="infopanel">
        		<p>Wide hero carousel for promoting your products or collections</p>
        	</div>	
            {% endif %}
    <!-- Desktop Slider -->

          	<div class="hide-for-small">
                <div class="preloader"></div>
           		<ul data-orbit>
                    {% for item in collections.featured.list %}
                        <li>
                            <a href="{{ item | product_url }}">
                                <img src="{{ item.images.first }}?width=970&height=390&fill=1&align=center">
                                <div class="orbit-caption">
                                    <span class="name">{{ item.body-text }}</span>
                                    <span class="price right">{{ item.price | money }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
    	        </ul>

            </div>
    <!-- End Desktop Slider -->


    <!-- Mobile Header -->


            <div class="row">
              <div class="small-12 show-for-small"><br>
                <img src="http://placehold.it/1000x600&text=For Small Screens" />
              </div>
            </div>


  <!-- End Mobile Header -->

        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if settings.store.name == "thehen" %}
            <hr />
            <h3>Hero carousel (narrow)</h3>
            <div class="infopanel">
                <p>Narrow hero carousel with side controls</p>
            </div> 
            {% endif %}
        </div>
    </div>
    <div class="slider-secondary-bg">
    <div class="row">
        
        <div class="large-8 columns">
            <ul data-orbit data-options="bullets: false; timer: false">
                {% for item in collections.featured.list  limit:4 %}
                    <li data-orbit-slide="slide-{{ forloop.index }}">
                        <a href="{{ item | product_url }}">
                            <img src="{{ item.images.first }}?height=290&fill=1&align=center">
                            <div class="orbit-caption">
                                <span class="name">{{ item.body-text }}</span>
                                <span class="price right">{{ item.price | money }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="large-4 columns">
            <ul class="side-nav slider-nav">
                {% for item in collections.featured.list limit:4 %}
                <li>
                    <a href="#" data-orbit-link="slide-{{ forloop.index }}">
                        <span class="thumb"><img src="{{ item.images.first }}?height=40&fill=1&align=center" /></span>
                        {{ item.name }}<br />
                        <span class="price">{{ item.price | money }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if settings.store.name == "thehen" %}
            <hr />
        	<h3>Featured products (wide)</h3>
        	<div class="infopanel">
        		<p>The featured products panel is a great way to let your customers know what products you're currently promoting.  You can use it to feature products on sale, currently in season, newly back in stock, or just products you'd like to sell more of.</p>
        	</div>	
            {% endif %}

        <!-- Thumbnails -->
            
            <ul class="large-block-grid-4 small-block-grid-2 product-listing">
                {% for item in collections.featured.list limit:4 %}
                    <li>
                        <a href="{{ item | product_url }}" class="thumbnail">
                            <img src="{{ item.images.first }}?height=220&fill=1&align=center">
                            <strong>{{ item.name }}</strong>
                        </a>
                    </li>
                {% endfor %}
            </ul>

        <!-- End Thumbnails -->

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-8 columns">
                    {% if settings.store.name == "thehen" %}
                    <h3>Featured products (narrow)</h3>
                    <div class="infopanel">
                        <p>Right, genious - it's not wide!</p>
                    </div>
                    {% endif %}
                    
                    <ul class="large-block-grid-3 small-block-grid-2 product-listing">
                        {% for item in collections.featured.list %}
                            <li>
                                <a href="{{ item | product_url }}" class="thumbnail">
                                    <img src="{{ item.images.first }}?height=180&fill=1&align=center">
                                    <strong>{{ item.name }}</strong>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>

                <div class="large-4 small-12 columns">
                    {% if settings.store.name == "thehen" %}
                    <h3>Sidenav</h3>
                    <div class="infopanel">
                        <p>Sexy accordion nav</p>
                    </div>
                    {% endif %}
                    <div class="section-container accordion" data-section="accordion">
                        <section>
                            <p class="title" data-section-title><a href="#panel1">Category 1</a></p>
                            <div class="content" data-section-content>
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum dolor.</a></li>
                                    <li><a href="#">Maxime, nisi, eaque.</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Vel, explicabo, adipisci!</a></li>
                                    <li><a href="#">Consequuntur, laborum, a?</a></li>
                                    <li><a href="#">Nulla, dolore, fugit.</a></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#panel2">Category 2</a></p>
                            <div class="content" data-section-content>
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum dolor.</a></li>
                                    <li><a href="#">Maxime, nisi, eaque.</a></li>
                                    <li><a href="#">Vel, explicabo, adipisci!</a></li>
                                    <li><a href="#">Consequuntur, laborum, a?</a></li>
                                    <li><a href="#">Nulla, dolore, fugit.</a></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#panel1">Category 3</a></p>
                            <div class="content" data-section-content>
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum dolor.</a></li>
                                    <li><a href="#">Maxime, nisi, eaque.</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Vel, explicabo, adipisci!</a></li>
                                    <li><a href="#">Consequuntur, laborum, a?</a></li>
                                    <li><a href="#">Nulla, dolore, fugit.</a></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#panel2">Category 4</a></p>
                            <div class="content" data-section-content>
                                <ul class="side-nav">
                                    <li><a href="#">Lorem ipsum dolor.</a></li>
                                    <li><a href="#">Maxime, nisi, eaque.</a></li>
                                    <li><a href="#">Vel, explicabo, adipisci!</a></li>
                                    <li><a href="#">Consequuntur, laborum, a?</a></li>
                                    <li><a href="#">Nulla, dolore, fugit.</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
	    <div class="large-12 columns">
	    	{% if settings.store.name == "thehen" %}
            <hr />
            <h3>Pricing tables</h3>
	    	<div class="infopanel">
	    		<p>If you're making a rockin' marketing site for a subscription-based product, you are likely in need of a pricing table</p>
	    	</div>
	    	{% endif %}
		    <div class="row">	

		    <!-- Pricing tables -->

		        <div class="large-4 small-12 columns">
		    		<ul class="pricing-table">
		    		  	<li class="title">Standard</li>
		    		  	<li class="price">$99.99</li>
		    		  	<li class="description">An awesome description</li>
		    		  	<li class="bullet-item">1 Database</li>
		    		  	<li class="bullet-item">5GB Storage</li>
		    		  	<li class="bullet-item">20 Users</li>
		    		  	<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		    		</ul>
		        </div>
		        <div class="large-4 small-12 columns">
		    		<ul class="pricing-table">
		    		  	<li class="title">Standard</li>
		    		  	<li class="price">$99.99</li>
		    		  	<li class="description">An awesome description</li>
		    		  	<li class="bullet-item">1 Database</li>
		    		  	<li class="bullet-item">5GB Storage</li>
		    		  	<li class="bullet-item">20 Users</li>
		    		  	<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		    		</ul>
		        </div>
		        <div class="large-4 small-12 columns">
		    		<ul class="pricing-table">
		    		  	<li class="title">Standard</li>
		    		  	<li class="price">$99.99</li>
		    		  	<li class="description">An awesome description</li>
		    		  	<li class="bullet-item">1 Database</li>
		    		  	<li class="bullet-item">5GB Storage</li>
		    		  	<li class="bullet-item">20 Users</li>
		    		  	<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		    		</ul>
		        </div>


		    <!-- End Pricing tables -->

		     </div>
	    </div>
 	</div>

    <!-- Footer -->
    <footer class="row">
        <div class="large-12 columns">
            <hr>
            <div class="row">
                <div class="large-6 columns">
                  <p>&copy; Copyright here. Lorem ipsum there.</p>
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).foundation();
    </script>
</body>
</html>
